*{
    padding: 0;
    margin: 0;
    border: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#all{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(227, 227, 227);
}

#container{
    display: flex;
    justify-content: center;
    width: auto;
    border-radius: 30px;
    box-shadow: 5px 5px 5px rgb(157, 157, 157);
}

#container #left{
    display: flex;
    align-items: center;
    border-radius: 30px 0 0 30px;
    width: 412px;
    height: 550px;
    background-color: rgb(250, 0, 237);
}

#formright{
    padding: 0 40px;
    width: 377px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: #fff;
    border-radius: 0 30px 30px 0;
}

form{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
form input{
    width: 80%;
    background-color: rgb(229, 229, 229);
    border-radius: 60px;
    padding:15px;
    margin-top: 20px;
}

#enviar{
    background-color: rgb(250, 0, 237);
    width: 50%;
    padding: 10px;
    font-weight: bold;
    color: #fff;
    font-size: 12pt;
}

#formright h3{
    color: rgb(255, 0, 237);
    font-size: 16pt;
    margin: 20px;
}

#formright h1{
    font-size: 20pt;
    margin-bottom: 20px;
}
#buttondiv{
    display: flex;
    width: 60%;
    border-radius: 60px;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: rgb(227, 227, 227);
    color: #fff;
    font-size: 14pt;

    margin-bottom: 20px;
}
#buttondiv h5{
    z-index: 999;
    font-weight: 600;

}
#buttondiv h5:hover{
    cursor: pointer;
}
#backbutton{
    position: absolute;
    background-color: rgb(250, 0, 237);  
    border-radius: 60px;
    width: 145px;
    height: 40px;
    margin-top: -10px;
    margin-left: -20px;
    animation: moveLeft 0s linear forwards;
}
#nome{
    display: none;
}
#confirm{
    display: none;
}
#cadastrar{
    color: #000000;
}

@media (max-width: 1000px){
   #container #left{
        display: none;
    }
    #formright{
        border-radius: 30px;
    }
}

@keyframes moveRight{
    0%{
        margin-left: -20px;
    }
    100% {
        margin-left: 108px;
    }
}

@keyframes moveLeft{
    0%{
        margin-left: 108px;
    }
    100% {
        margin-left: -20px;
    }
}


